
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  input {
    outline: none;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .flex {
    display: flex;
  }
  .align_items_center {
    align-items: center;
  }
  .align_items_start {
    align-items: start;
  }
  .justify_content_center {
    justify-content: center;
  }
  .space_beetween {
    justify-content: space-between;
  }
  .end {
    justify-content: flex-end;
  }
  .style {
    color: #6355A0!important;
  }
  .flex_wrap {
    flex-wrap: wrap;
  }
  .column {
    flex-direction: column;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .col_2 {
    width: 45%;
    margin: 2.5%;
  }
  .col_3 {
    width: 29%;
    margin: 2%;
  }
  .col_4 {
    width: 22%;
    margin: 1.5%;
  }
  .white {
    color: "#fff";
  }
  .center{
    text-align: center;
  }
  .lime_black {
    color: "#111";
  }
  .black {
    color: "#000";
  }
  .bold {
    font-weight: "700";
  }
  .w100 {
    width: 100%;
  }
  .w50 {
    width: 50%;
  }
  .h100 {
    height: 100%;
  }
  .h100vh {
    height: 100vh;
  }
  .pointer {
    cursor: pointer;
  }
  .px_2 {
    padding: 1% 2%;
  }
  .px_3 {
      padding: 64px;
  }
  .px_5{
    padding: 5%;
  }
  .mx_2 {
    margin: 1% 2%;
  }
  .container {
    width: 90%;
    margin: 0px auto;
  }
  .container_fluid {
    width: 80%;
    margin: 0px auto;
  }
  .btn {
    border-radius: 34px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 8px 16px 9px 16px;
    background: #6355a0;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 32px rgba(27, 27, 28, 0.17);
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #11111140;
  }
  
  @media screen and (max-width: 768px) {
    .container_fluid {
      width: 100%;
    }
    .mobile_100 {
      width: 100% !important;
    }
    .col_2{
        width: 100%;
    }
    .col_3{
        width: 100%;
    }
    .col_4{
        width: 100%;
    }
  }
  